---
layout: default
---

<div class="home">
  {{ content }}
  
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-item">
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {% if post.title %}
            {{ post.title | escape }}
          {% else %}
            {{ post.path | split: "/" | last | split: "." | first }}
          {% endif %}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
